@page
@model SalesModel
@{
    ViewData["Title"] = "Sales";
}

<h1>Work in progress!</h1>
    <p>In this page the Manager will be able to see all sales in real time accross all the stores and filter them. This will not be visible for normal employees.</p>
